*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.color-buttons{
    display: flex;
    gap: 10px;
}

.colors .button{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#orange{
    background-color: orange;
}

#white{
    background-color: #fff;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}